{% extends 'b2.html' %}
{% load static %}
{%block title%}profile_page{%endblock%}
{% block stylesheet %}
<meta name="viewport" content="width=device-width, initial-scale=1">



{% endblock stylesheet %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{user.username}}</li>
{%endblock%}

{% block c %}


    <div class="container">
            {% if messages %}
            {% for ms in messages %}
            <p>
                {{ms}}
            </p>
            {% endfor %}
        {% endif %}

        {% comment %} <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>السيارة</th>
                        <th>المبلغ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{my_car}}</td>
                        <td>{{my_val.cost}}ريال يمني</td>
                    </tr>
                    <tr>
                        <td colspan=2> <a href="{% url 'pay_done' v_n1=my_val.V_number %}" > pay   </a> <small>تجربة بعد عملية التاكد من الدفع</small> </td>

                    </tr>
                </tbody>
            </table>
        </div> {% endcomment %}
    </div>
    <div class="mt-5">
        <div>
        </div>
    </div>

    <div class="container p-0 m-3">
        <div class="card px-4">
            <p class="h8 py-3">Payment Details</p>
            <div class="row gx-3">
                <div class="col-12" >
                    <table class="table">
                        <thead style="background-color: #223c60b3;">
                            <tr>
                                <th>السيارة</th>
                                <th>المبلغ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{my_car}}</td>
                                <td>{{my_val.cost}}ريال يمني</td>
                            </tr>
                            <tr>
                                <td colspan=2> <a > pay   </a> <small>تجربة بعد عملية التاكد من الدفع</small> </td>
        
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">{{user.username}}</p>
                        <input class="form-control mb-3" type="text" placeholder="Name" >
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Card Number</p>
                        <input class="form-control mb-3" type="text" placeholder="1234 5678 435678">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Expiry</p>
                        <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">CVV/CVC</p>
                        <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
                    </div>
                </div>
                <div class="col-12">
                    <a  href="{% url 'pay_done' v_n1=my_val.V_number %}">
                            <div class="btn btn-primary mb-3" >
                            
                            <span class="ps-3"  >
                                دفع{{my_val.cost}}ريال</span>
                                <span class="fas fa-arrow-right"></span>
                            </div>
                        </a>
                </div>
            </div>
        </div>
    </div>

{% endblock c %}
        {% block js %}
        <script src="{% static '1jquery.min.js'%}"></script>
        <script src="{% static '1bootstrap.min.js'%}"></script>

        {% endblock js %}