{% extends 'b2.html' %}

{% load static %}
{% block title %}test{% endblock %}



{% block c %}


            <div class="container mb-3">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-10 col-sm-12">
                                <div class="card">
                                    <div class="card-body">

                                        <form method="POST">
                                            {% csrf_token %}
                                        <label> welcom {{user.username}} <br>if you need a car number this can help <a href="{% url 'click' %}" >click</a> {% for c in cars %}{{c.first}}{% endfor %} </label><br>
                                        <label>car number</label>
                                        <input type = "number" name = "car_number" id = "id_car_number">
                                        <a type ="submit" class="btn btn-primary" role="button">بحث</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
<div class="b">

</div>
{% endblock c %}


