{% extends "b2.html" %}
{% load static %}
{% block c %}


<!--==========================
    Header
        ============================-->


        <!--==========================
          Intro Section
        ============================-->
        <section id="intro" class="">
            <div class="container-fluid text-center">
                <!-- <img class="cmmc" src="img/1440x959NEW.jpg" alt=""> -->


                    <div class="col-12 intro-text">
                        <!--   <img src="img/Firstfont.png" class="intro-title-img">-->
                        <H2 class="display-3 wow slideInRight">TMS <strong class="bold-title"></strong></h4>

                        <p class="intro-desc-p wow slideInLeft">الخدمة المضمونة والسرعة في الاداء</p>

                        <!--  <img src="img/fontar.png" class="intro-desc-img">
                        -->
                    </div>
                    <div class="intro-imgs-container">

                        <a class="btn btn-outline-light myBtn" href="{% url 'new_car2' %}">اكشف مخالفاتك
                            <strong>الان!</strong>
                        </a>
                    </div>
                    <div class="col-12 mouse-roll-img">
                        <!-- <img src="img/mouseroll.pn" class="mouse-roll-ico"> -->
                    </div>
                </div>
            </div>

        </section>

        <!--==========================
          About Us Section
        ============================-->
        <section id="About" class="section-bg">
            <div class="container">
                <div class="row justify-content-center text-center align-items-center">
                    <!-- ===== section header ===-->
                    <div class="col-12 text-center">
                        <div class="section-title"><h5><span>Traffic Management System</span> <strong>   </strong> </h5></div>
                        <p class="section-desc">نجاح مشروعكـ من اهم اولوياتنا</p>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <h3 class="title"><strong>مرحبا بك في</strong>  <span><span>Traffic Management System</span> <strong>  </strong></span></h3>
                        <p class="sub-title">
                            هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص،
                        </p>
                        <h3 class="title"><strong>لماذا </strong>  <span><span>Traffic Management System</span> <strong> </strong></span></h3>
                        <p class="sub-title">
                            هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما
                        </p>
                        <a href="#" class="btn btn-primary">تجربة النظام</a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="{% static 'img/logo.png' %}" alt="" class="about-img">
                    </div>
                </row>
                <div class="row margin-t-60">
                    <div class="col-12 col-md-4">
                        <div class="icon"><img src="{% static 'img/system1.png' %}"></div>
                        <h3 class="icon-title"><strong>تطبيق الاجهزة الشخصية </strong></h3>
                        <p class="desc text-center">
                            هناك حقيقة عبر التاريخ ان النص هناك حقيقة عبر التاريخ ان النص هناك حقيقة عبر التاريخ ان النص
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="icon"><img src="{% static 'img/system2.png' %}"></div>
                        <h3 class="icon-title"><strong>تطبيق اجهزة الجوال</strong></h3>
                        <p class="desc text-center">
                            هناك حقيقة عبر التاريخ ان النص هناك حقيقة عبر التاريخ ان النص هناك حقيقة عبر التاريخ ان النص
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="icon"><img src="{% static 'img/system3.png' %}"></div>
                        <h3 class="icon-title"><strong>الاستعراض من الانترنت </strong></h3>
                        <p class="desc text-center">
                            هناك حقيقة عبر التاريخ ان النص هناك حقيقة عبر التاريخ ان النص هناك حقيقة عبر التاريخ ان النص
                        </p>
                    </div>

                </div>
            </div>

        </section>

        <!--==========================
          Clints Openion Section
        ============================-->
        <section id="Clints" class="Clints margin-t-100">
            <div class="container">
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col-12">
                        <h1 class="text-center"><i class="fa fa-quote-left"></i></h1>
                        <h1 class="text-center">أراء العملاء</h1>
                    </div>

                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner text-center align-items-center">
                                <div class="carousel-item active text-center">
                                    <p class="Clints-text text-center">
                                        هنالك حقيقة تاريخية ان المحتوى النصي لاي نص هو عباره عن نص من النصوص الطبيعية                                         هنالك حقيقة تاريخية ان المحتوى النصي لاي نص هو عباره عن نص من النصوص الطبيعية

                                    </p>
                                    <h3 class="title text-center">هايبر بنده</h3>
                                </div>
                                <div class="carousel-item text-center">
                                    <p class="Clints-text text-center">
                                        هنالك حقيقة تاريخية ان المحتوى النصي لاي نص هو عباره عن نص من النصوص الطبيعية                                         هنالك حقيقة تاريخية ان المحتوى النصي لاي نص هو عباره عن نص من النصوص الطبيعية

                                    </p>
                                    <h3 class="title text-center">مسعود برزاني</h3>
                                </div>
                                <div class="carousel-item">
                                    <p class="Clints-text">
                                        هنالك حقيقة تاريخية ان المحتوى النصي لاي نص هو عباره عن نص من النصوص الطبيعية                                         هنالك حقيقة تاريخية ان المحتوى النصي لاي نص هو عباره عن نص من النصوص الطبيعية

                                    </p>
                                    <h3 class="title">على صالح</h3>
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!--==========================
          Contact Us
        ============================-->

        <section id="Contact-Us" class="contact-sec">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <!-- ===== section header ===-->
                    <div class="col-12 text-center">
                        <div class="section-title"><h3><strong>تواصل </strong> معنا</h3></div>
                        <!--
                        <p class="section-desc">نجاح مشروعكـ من اهم اولوياتنا</p>
                        -->
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col-10 col-sm-5">
                        <input class="form-control name-txt" type="text" placeholder="اسمك الكريم">
                    </div>
                    <div class="col-10 col-sm-5">
                        <input class="form-control mail-txt" type="email" placeholder="البريد الالكتروني">
                    </div>
                    <div class="col-10">
                        <textarea class="form-control msg-txt" rows="5" placeholder="الرسالة"></textarea>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">ارسل الرسالة</button>
                    </div>

                </div>

            </div>
        </section>


        <!--==========================
          Footer
        ============================-->
        <section id="Footer" class="footer bg-dark">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img src="{% static 'img/logo.png' %}" class="logo" alt="logo">
                    </div>
                    <div class="col-12">
                        <a class="social" href="#"><i class="fa fa-youtube-play"></i></a>
                        <a class="social" href="#"><i class="fa fa-snapchat"></i></a>

                        <a class="social" href="#"><i class="fa fa-instagram"></i></a>
                        <a class="social" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="social" href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-12">
                        <p class="copyright"> CopyRight &COPY; 2018 <strong>TMS </strong></p>
                    </div>
                </div>


            </div>
        </section>

        {% endblock c %}